<div>
<h1><%= user.name %></h1>
<h3>Occupation: <%= user.occupation %></h3>
<h3>Phone Number: <%= user.phone %></h3>
<h3>Contact: <%= user.email %></h3>
<a class="btn btn-meduim btn-primary" href="/user/edit/ <%= user.id %>"> EDIT </a>

</div>
