
<!DOCTYPE html>
<html>
<head>
<title>HealthiOne Initiative</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HealthiOne Initiative, responsive site, sochealth" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery.js"></script>

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--end-smoth-scrolling-->
<style type="text/css">
 
#share-buttons img {
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>
</head>
<!--start-header-->
  <div class="header" id="home">
    <div class="container">
      <div class="head">
      <nav class= "navbar-fixed-top ">
        <a href="/"><img src="/images/logo.png" alt="" /></a>

      </nav>
      <nav class="navbar navbar-fixed-top">
      <div class="navigation">
         <span class="menu"></span> 
          <ul class="navig">


          <% if (!session.authenticated) { %>
			<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										 <form class="form" role="form"  method="post" action="/session/create" accept-charset="UTF-8" id="login-nav">
												<div class="form-group">
													 <label class="sr-only" for="email">Email address</label>
													 <input type="email" class="form-control" name="email" id= "email" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="password">Password</label>
													 <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
													 <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> keep me logged-in
													 </label>
												</div>
												<input type="hidden" name="_csrf" value="<%= _csrf %>" />
										 </form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="/user/new"><b>Join Us</b></a>
									</div>
							 </div>
						</li>
					</ul>
        </li>
        <% } %>
        <% if ( session.authenticated ) { %>
        	<li><a href="/user/show/<%= session.User.id %>"  class="active"><%= session.User.name %></a></li>
        <% }%>
        <% if ( session.authenticated && session.User.admin) { %>
        	<li><a href="/user"  class="active"> User Administration </a></li>
        	<li><a href="/article"  class="active"> Articles </a></li>
        <% }%>
            <li><a href="/"  class="active">Home</a></li>
            <li><a href="#blog" class="scroll">Blog</a></li>
            <li><a href="#get" class="scroll">Get In Touch</a></li>

            <% if ( session.authenticated ) { %>
        	<li><a href="/session/destroy"  class=""> Sign Out </a></li>
        <% }%>
	  
          </ul>

          <ul class="nav navbar-nav navbar-right">
        
      </ul>

      </div>
      </nav>
        <div class="clearfix"></div>
      </div>
      </div>
    </div> 
    <!-- Header Ends -->
<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	
	<!--start-single-->
	<div class="single">
		<div class="container">
			<div class="single-top">
				<div class="col-md-10 single-left">
					<h3 class="sngl"><%= article.title %></h3>
					<span>by <a href="#"><%= article.nick %></a> on <a href="#"> <%= article.dateCreated %> </a> comments&nbsp;(<%= articleAnswer.length %>)</span>

					<div id="share-buttons">
						<!-- WhatsApp  -->
							<a href="whatsapp://send?text=https://healthpub.herokuapp.com/article/singleArticle/<%= article.id %>" data-action="share/whatsapp/share"><img src="/images/whatsapp.png" alt="WhatsApp" /></a>

							<!-- Facebook -->
						    <a href="https://www.facebook.com/sharer.php?u=https://healthpub.herokuapp.com/article/singleArticle/<%= article.id %>" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
						    </a>

						    <!-- Twitter -->
						    <a href="https://twitter.com/share?url=https://healthpub.herokuapp.com/article/singleArticle/<%= article.id %>&amp;text=HealthiOne%20Initiative&amp;hashtags=HealthiOneInitiative" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
						    </a>

						    <!-- LinkedIn -->
						    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://healthpub.herokuapp.com/article/singleArticle/<%= article.id %>" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
						    </a>
								
						    <!-- Email -->
						    <a href="mailto:?Subject=My blog Title&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://healthpub.herokuapp.com/article/singleArticle/<%= article.id %>">
						        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
						    </a>
						    
						    <!-- Print -->
						    <a href="javascript:;" onclick="window.print()">
						        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
						    </a>
						    

						     
						    
    


</div>

					<a href="#"><img src="/images/<%= article.imageName %>" alt="" /></a>
					
					<h5><%= article.description %> </h5>
					
					<div class="comments">
						<h3>Comments</h3>
						<% _.each(articleAnswer, function(articleAnswer) { %>
						 	<div class="comments-main">
									<div class="cmts-main-left">
										<img src="/images/men.png" alt="">
									</div>
									
									<div class="cmts-mains-right">
									
										<a href="#"><h5><%= articleAnswer.nick %></h5></a>
										<p><%= articleAnswer.comment %></p>
										<div class="cmts">
											<div class="col-md-6 cmnts-left">
												<label><%= articleAnswer.dateCreated %></label>
											</div>
											<% if (!session.authenticated) { %>
											<div class="col-md-6 cmnts-right">
											</div>
											 <% } else if ( articleAnswer.owner.creator == req.session.User.id) {%>
											
											<div class="col-md-6 cmnts-right">
												<a href="#" class="hvr-shutter-out-horizontal">Edit</a>
											</div>
											 <% } %>
											<div class="clearfix"></div>

										</div>
									</div>
									<div class="clearfix"></div>
									
								</div>
								<%})%>

							</div>

					<% if (!session.authenticated) { %>
                         <h3>Login To Comment ?</h3>
                         <br>
                        <a href="/user/new" class="get"><button type="button" class="btn btn-info">Sign-up</button></a>
                        <%}%>

                    <% if (session.authenticated) { %>
					<div class="reply">
						<h3>Post Your Comment</h3>
						
						<form method="post" action="/articleAnswer/create">
							<textarea value="Answer" name= "comment" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Comment...</textarea>
						<input type="submit" value="Post" />
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form>
					</div>
				<% } %>
				</div>

				<div class="col-md-2 single-right">

						
						<div class="recent">
							<div class="recent-one">
								<a href="#"><img src="/images/adss.gif" alt="" /></a>
								<br>
									<a href="/#get"><h5>Click to place Ads</h5></a>
									<br>
							</div>
							<div class="recent-one">
								<a href="#"><img src="/images/adss.gif" alt="" /></a>
								<br>
									<a href="/#get"><h5>Click to place Ads</h5></a>
									<br>
							</div>
							
						</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
</body>
</html>