<!DOCTYPE html>
<html>
<head>
<title>HealthiOne Initiative</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HealthiOne Initiative, responsive site, sochealth" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery.js"></script>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--end-smoth-scrolling-->
<script language="JavaScript">
<!--
function calculateBmi(event) {
	event.preventDefault();
var weight = document.bmiForm.weight.value
var height = document.bmiForm.height.value
if(weight > 0 && height > 0){	
var finalBmi = weight/(height/100*height/100)
document.bmiForm.bmi.value = finalBmi
if(finalBmi < 18.5){
document.bmiForm.meaning.value = "You are too thin."
}
if(finalBmi > 18.5 && finalBmi < 25){
document.bmiForm.meaning.value = "You are healthy."
}
if(finalBmi > 25){
document.bmiForm.meaning.value = "You have overweight."
}
}
else{
alert("Please Fill in everything correctly")
}
}
//-->
</script>
<script language="JavaScript">
<!--
function calculateRisk(event) {
	event.preventDefault();
var gender = parseInt(document.riskForm.gender.value)
var age = parseInt(document.riskForm.age.value)
var race = parseInt(document.riskForm.race.value)
var hyper = parseInt(document.riskForm.hyper.value)
var bmi = parseInt(document.riskForm.bmi.value)
var diabetic = parseInt(document.riskForm.diabetic.value)
var smoke = parseInt(document.riskForm.smoke.value)

var total = gender+age+race+hyper+bmi+diabetic+smoke
document.riskForm.estimate.value = total

if(gender >= 0 && age >= 0 && race >= 0 && hyper >= 0 && bmi >= 0 && diabetic >= 0 && smoke >= 0){
	if(total <= 4){
	document.riskForm.meaning.value = " Your Cardiac Risk is Low"
	}
	if(total > 4 && total <= 9){
	document.riskForm.meaning.value = " Your Cardiac Risk is Medium"
	}
	if(total > 9 && total <= 12){
	document.riskForm.meaning.value = " Your Cardiac Risk is High"
	}
	if(total > 12 && total <= 15){
	document.riskForm.meaning.value = " You Are In Danger"
	}
}
else{
alert("Please Fill in everything correctly")
	}
}
</script>

</head>
<!--start-header-->
  <div class="header" id="home">
    <div class="container">
      <div class="head">
      <nav class= "navbar-fixed-top ">
        <a href="/"><img src="/images/logo.png" alt="" /></a>

      </nav>
      <nav class="navbar navbar-fixed-top">
      <div class="navigation">
         <span class="menu"></span> 
          <ul class="navig">


          <% if (!session.authenticated) { %>
			<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										 <form class="form" role="form"  method="post" action="/session/create" accept-charset="UTF-8" id="login-nav">
												<div class="form-group">
													 <label class="sr-only" for="email">Email address</label>
													 <input type="email" class="form-control" name="email" id= "email" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="password">Password</label>
													 <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
													 <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> keep me logged-in
													 </label>
												</div>
												<input type="hidden" name="_csrf" value="<%= _csrf %>" />
										 </form>
									</div>
									<div class="bottom text-center">
										New here ? <a href="/user/new"><b>Join Us</b></a>
									</div>
							 </div>
						</li>
					</ul>
        </li>
        <% } %>

        <% if (session.authenticated) { %>
        
        	<li><a href="/user/show/<%= session.User.id %>"  class="active"><%= session.User.name %></a></li>
        <% } %>
        <% if ( session.authenticated && session.User.admin) { %>
        	<li><a href="/user" > User Administration </a></li>
        	<!-- <li><a href="/article"  class="active"> Articles </a></li> -->
        	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Articles</b> <span class="caret"></span></a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="/article">View Articles</a></li>
			    <li><a href="/article/newArticle">Add Article</a></li>
			    
			  </ul>
			</li>
        <% } %>
            <li><a href="/"  >Home</a></li>
            <li><a href="#blog" class="scroll">Forum</a></li>
            <li><a href="#get" class="scroll">Get In Touch</a></li>

            <% if ( session.authenticated ) { %>
        	<li><a href="/session/destroy"  class=""> Sign Out </a></li>
        <% } %>
	  
          </ul>

          <ul class="nav navbar-nav navbar-right">
        
      </ul>

      </div>
      </nav>
        <div class="clearfix"></div>
      </div>
      </div>
    </div> 
    <!-- Header Ends -->

<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	<!--banner-starts-->
		<div class="banner">
			<div class="container">
				<div class="banner-main">
					<div  id="top" class="callbacks_container">
			      	<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-top">
								<h1>Welcome to <span class="an"> HealthiOne Initiative</span> </h1>
								<h2>Better Health, Greater Impact!</h2>
								<% if (!session.authenticated) { %>
								<div class="banner-bottom">
								
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
									<div class="banner-left">
										<a href="#premium" class="fut">Go Premium</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<% } %>
							</div>
						</li>
						
					</ul>
			    </div>
			  <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--services-starts-->
	<div class="services" id="services">
		<div class="container">
			<div class="services-top">
				<h3>What We Do </h3>
				<span> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="/blog/askExpert"><img src="images/service-1.png" alt="" /></a>
						<a href="/blog/askExpert"><h4>Health Question And Answer Forum </h4></a>
						<p class="overflow-visible"> This is a free health online Question and Answer forum that connects people anonymously, empowering them with knowledge to assist them in making more informed decisions by getting answers to their health concerns thereby improving their quality of life. </p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#article" class="scroll"><img src="images/services-3.png" alt="" /></a>
						<a href="#article" class="scroll"><h4>Article Section</h4></a>
						<p class="overflow-visible">view articles by various contributors and interviews with expert in health and other relevant areas.</p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#get" class="scroll"><img src="images/service-2.png" alt="" /></a>
						<a href="#get" class="scroll"><h4>Collaboration Hub</h4></a>
						<p class="overflow-visible">Invite us to participate in your programs by doing health talks, seminars, surveys, outreaches. etc Allow us to add more value to your program.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--services-ends-->
	<!--work-starts-->
	<!--work-ends-->
	<!--video-ends-->
	
			<!--pop-up-box-->
	
				<!--/-->
	
	
	
	<!-- <!-- <!--team-starts-->
	<!-- <div class="team" id="team">
		<div class="container">
			<div class="team-top">
				<h3>Our Team</h3>
				<span> </span>
			</div>
			<div class="team-bottom">
				<div class="col-md-4 team-left">
					<img src="images/team-1.jpg" alt="" />
					<h4>Jack Clark</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-two">
					<img src="images/team-3.jpg" alt="" />
					<h4>Anna Jhon</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-three">
					<img src="images/team-2.jpg" alt="" />
					<h4>Harry Ben</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
	<!--team-end--> 
	
	
	<!--Slider-Starts-Here-->
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider5").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
				
<div class="servicess" id="servicess">

	<div class="container">
		<div class="servicess-top">
				<h3> Health Calculator </h3>
				<span> </span>
		</div>
	

		<div class="servicess-bottom">
			<div class="col-md-6 servicess-left">
				<div class="servicess-one">
					<div class="row main">
		        		<div class="panel-heading">
		                 <div class="panel-title text-center">
		                    <h1 class="title">BMI CALCULATOR</h1>
		                  </div>
		              	</div>
				        <div class="main-login main-center">
				          <form name="bmiForm" class="form-horizontal" >            
				            <div class="form-group" >
				              <label for="weight" class="cols-sm-2 control-label">Weight</label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="weight" id="weight"  placeholder="Enter Your Weight" />
				                </div>
				              </div>
				            </div>
				            <div class="form-group">
				              <label for="height" class="cols-sm-2 control-label">Height</label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="height" id="height"  placeholder="Enter your Height" />
				                </div>
				              </div>
				            </div>
				            <div class="form-group ">
				             	<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Calculate Bmi" onClick="calculateBmi(event)" />
				            </div>
				            

				            
				            <div class="form-group">
				              <label for="bmi" class="cols-sm-2 control-label">Your Bmi is </label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  
				                  
				                  <input type="text" class="form-control" name="bmi"  placeholder=""/>
				                </div>
				              </div>
				            </div>

				            <div class="form-group">
				              <label for="meaning" class="cols-sm-2 control-label">This Means </label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="meaning"  placeholder=""/>
				                </div>
				              </div>
				            </div>




				            <div class="form-group ">
				              <input type= "reset"  class="btn btn-primary btn-lg btn-block login-button" value="reset" />
				            </div>
				            
				          </form>
				        </div>
	      			</div>
				</div>
			</div>

			<div class="col-md-6 servicess-left">
				<div class="servicess-one">
					<div class="row main">
		        		<div class="panel-heading">
		                 <div class="panel-title text-center">
		                    <h1 class="title"> CARDIAC RISK ESTIMATOR </h1>
		                  </div>
		               </div>
			        <div class="main-login main-center">
			          <form name="riskForm" class="form-horizontal" >            
			            <div class="form-group">
			                <label for="gender" class="cols-sm-2 control-label"> Select Your Gender </label>
			                    <div class="col-sm-10">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="gender" id="gender" value= "2"> Male </label>
			                                <label class="radio-inline"> <input type="radio" name="gender" id="gender" value="1"> Female </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="age" class="cols-sm-1 control-label"> Select Your Age </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value= "0"> 25 to 39 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value="1">40 to 59 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value="2">Above 60 Years </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="race" class="cols-sm-1 control-label"> Select Your Race </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value= "1"> White </label>
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value="2"> Black </label>
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value="2"> Others </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="hypertensive" class="cols-sm-1 control-label"> Are you Hypertensive?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value="1"> Yes, With Treatment </label><br>
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value="2"> Yes, Wthout Treatment </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="bmi" class="cols-sm-1 control-label"> Select Your BMI Range?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value= "0"> Less Than 25 </label><br>
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value="1"> 25 to 30 </label><br>
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value="2"> Above 30 </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="diabetic" class="cols-sm-1 control-label"> Are you Diabetic?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value="1"> Yes, With Treatment </label><br>
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value="2"> Yes, Wthout Treatment </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="smoke" class="cols-sm-1 control-label"> Smoking?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                          		<label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value= "1"> 1 to 5 Years</label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value="2"> 6 to 10 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value="2"> Above 10 Years </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group ">
			             	<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Get Estimate" onClick="calculateRisk(event)" />
			            </div>

			            <div class="form-group">
			              <label for="estimate" class="cols-sm-0 control-label">Your Cardiac Risk Estimate Is : </label>
			              <div class="cols-sm-12">
			                <div class="input-group">
			                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
			                  
			                  
			                  <input type="text" class="form-control" name="estimate"  placeholder=""/>
			                </div>
			              </div>
			            </div>

			            <div class="form-group">
			              <label for="meaning" class="cols-sm-2 control-label">This Means </label>
			              <div class="cols-sm-10">
			                <div class="input-group">
			                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
			                  <input type="text" class="form-control" name="meaning"  placeholder=""/>
			                </div>
			              </div>
			            </div>




			            <div class="form-group ">
			              <input type= "reset"  class="btn btn-primary btn-lg btn-block login-button" value="reset" />
			            </div>
			            
			          </form>
			        </div>
			      </div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<!--blog-starts-->
	<div class="blog" id="blog">
		<div class="container">
			<div class="blog-top">
				<h3>Question And Answers</h3>
				<span></span>
			</div>
			
			<div class="center-block">

			<div class="blog-bottom">

				<% _.each(blog, function(blog) { %>
				<div class="forum-content" >
				
					<div class="forum-item">
						<a href="/blog/askExpert" ><h3><%= blog.title %></h3></a>
						<br>
						<span>by <a href="#"><%= blog.nick %></a>  |  <%= blog.dateCreated %></span>
						<p class="overflow-ellipsis"> <%= blog.description %> </p>
						<br><br>
						<a href="/article">Read more >></a>
					</div>
					
				</div>

			
				<div class="clearfix"></div>
				<% }) %>
				
			</div>
			</div>
		</div>
	</div>
	<!--blog-end-->

	<!--Article-starts-->
	<div class="blog" id="article">
		<div class="container">
			<div class="blog-top">
				<h3>Articles</h3>
				<span></span>
			</div>
			<div class="blog-bottom">
			<% _.each(article, function(article) { %>
				<div class="col-md-4 blog-left">
					<a href="/article/singleArticle/<%= article.id %>" ><img src="images/<%= article.imageName %>" alt="" /></a>
					<div class="blog-text">
						<a href=" /article/singleArticle/<%= article.id %>" ><h4><%= article.title %></h4></a>
						<span>by <a href="#"><%= article.nick %></a>  |  <%= article.dateCreated %></span>
						<p class="overflow-ellipsis"><%= article.description %></p>
					</div>
				</div>
				<% }) %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--blog-end-->
	

	
	



	<!--contact-starts-->
	<div class="contact" id="get">
		<div class="container">
			<div class="contact-top">
				<h3>Contact</h3>
				<span> </span>
			</div>
			<div class="contact-bottom">
				<div class="col-md-6 contact-left">
					<ul>
						<li><span class="address"> </span>
						<p>Contact Me For Address, 
						   <label>HealthiOne, popsy, Road</label>
                            Ibadan, Nigeria
                        </p>
                        </li>
                        <li><span class="phone"> </span>
						<p>(+234)8149240238</p>
                        </li>
                        <li><span class="msg"> </span>
						<p><a href="bennetworks@coolsite.com">bennetworks@coolsite.com</a></p>
                        </li>
					</ul>
				</div>
				<div class="col-md-6 contact-right">
					<input type="text" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}" />
					<input type="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}" />
					<input type="text" value="Website" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website';}" />
					<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					 <div class="s-btn">
						<form>
							<input type="submit" value="Send">
							<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form>
				     </div>	
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--contact-end-->
				 
</body>
</html>