

<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	<!--banner-starts-->
		<div class="banner">
			<div class="container">
				<div class="banner-main">
					<div  id="top" class="callbacks_container">
			      	<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-top">
								<h1>Welcome to <span class="an"> GidiMed </span> </h1>
								<h2>Better Health, Greater Impact!</h2>
								<% if (!session.authenticated) { %>
								<div class="banner-bottom">
								
									<div class="banner-left">
										<a href="/user/new" class="get">Sign-Up</a>
									</div>
									<div class="banner-left">
										<a href="#" data-toggle="modal" data-target="#myModal">Go Premium </a>
									</div>

										

									<div class="clearfix"> </div>
								</div>
								<% } %>
							</div>
						</li>
						
					</ul>
			    </div>
			  <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
	<!--services-starts-->
	<div class="services" id="services">
		<div class="container">
			<div class="services-top">
				<h3>What We Do </h3>
				<span> </span>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="/blog/askExpert"><img src="images/service-1.png" alt="" /></a>
						<a href="/blog/askExpert"><h4>Health Question And Answer Forum </h4></a>
						<p class="overflow-visible"> This is a free health online Question and Answer forum that connects people anonymously, empowering them with knowledge to assist them in making more informed decisions by getting answers to their health concerns thereby improving their quality of life. </p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#article" class="scroll"><img src="images/services-3.png" alt="" /></a>
						<a href="#article" class="scroll"><h4>Article Section</h4></a>
						<p class="overflow-visible">view articles by various contributors and interviews with expert in health and other relevant areas.</p>
					</div>
				</div>
				<div class="col-md-4 services-left">
					<div class="service-one">
						<a href="#get" class="scroll"><img src="images/service-2.png" alt="" /></a>
						<a href="#get" class="scroll"><h4>Collaboration Hub</h4></a>
						<p class="overflow-visible">Invite us to participate in your programs by doing health talks, seminars, surveys, outreaches. etc Allow us to add more value to your program.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--services-ends-->
	<!--work-starts-->
	<!--work-ends-->
	<!--video-ends-->
	
			<!--pop-up-box-->
	
				<!--/-->
	
	
	
	<!-- <!-- <!--team-starts-->
	<!-- <div class="team" id="team">
		<div class="container">
			<div class="team-top">
				<h3>Our Team</h3>
				<span> </span>
			</div>
			<div class="team-bottom">
				<div class="col-md-4 team-left">
					<img src="images/team-1.jpg" alt="" />
					<h4>Jack Clark</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-two">
					<img src="images/team-3.jpg" alt="" />
					<h4>Anna Jhon</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="col-md-4 team-left team-three">
					<img src="images/team-2.jpg" alt="" />
					<h4>Harry Ben</h4>
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="t"> </span></a></li>
						<li><a href="#"><span class="g"> </span></a></li>
						<li><a href="#"><span class="in"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div> -->
	<!--team-end--> 
	
	
	<!--Slider-Starts-Here-->
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider5").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
				
<div class="servicess" id="servicess">

	<div class="container">
		<div class="servicess-top">
				<h3> Health Calculator </h3>
				<span> </span>
		</div>
	

		<div class="servicess-bottom">
			<div class="col-md-6 servicess-left">
				<div class="servicess-one">
					<div class="row main">
		        		<div class="panel-heading">
		                 <div class="panel-title text-center">
		                    <h1 class="title">BMI CALCULATOR</h1>
		                  </div>
		              	</div>
				        <div class="main-login main-center">
				          <form name="bmiForm" class="form-horizontal" >            
				            <div class="form-group" >
				              <label for="weight" class="cols-sm-2 control-label">Weight</label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="weight" id="weight"  placeholder="Enter Your Weight in Kg" />
				                </div>
				              </div>
				            </div>
				            <div class="form-group">
				              <label for="height" class="cols-sm-2 control-label">Height</label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="height" id="height"  placeholder="Enter your Height in Centimeters" />
				                </div>
				              </div>
				            </div>
				            <div class="form-group ">
				             	<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Calculate Bmi" onClick="calculateBmi(event)" />
				            </div>
				            

				            
				            <div class="form-group">
				              <label for="bmi" class="cols-sm-2 control-label">Your Bmi is </label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  
				                  
				                  <input type="text" class="form-control" name="bmi"  placeholder=""/>
				                </div>
				              </div>
				            </div>

				            <div class="form-group">
				              <label for="meaning" class="cols-sm-2 control-label">This Means </label>
				              <div class="cols-sm-10">
				                <div class="input-group">
				                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				                  <input type="text" class="form-control" name="meaning"  placeholder=""/>
				                </div>
				              </div>
				            </div>




				            <div class="form-group ">
				              <input type= "reset"  class="btn btn-primary btn-lg btn-block login-button" value="reset" />
				            </div>
				            
				          </form>
				        </div>
	      			</div>
				</div>
			</div>

			<div class="col-md-6 servicess-left">
				<div class="servicess-one">
					<div class="row main">
		        		<div class="panel-heading">
		                 <div class="panel-title text-center">
		                    <h1 class="title"> CARDIAC RISK ESTIMATOR </h1>
		                  </div>
		               </div>
			        <div class="main-login main-center">
			          <form name="riskForm" class="form-horizontal" >            
			            <div class="form-group">
			                <label for="gender" class="cols-sm-2 control-label"> Select Your Gender </label>
			                    <div class="col-sm-10">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="gender" id="gender" value= "2"> Male </label>
			                                <label class="radio-inline"> <input type="radio" name="gender" id="gender" value="1"> Female </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="age" class="cols-sm-1 control-label"> Select Your Age </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value= "0"> 25 to 39 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value="1">40 to 59 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="age" id="age" value="2">Above 60 Years </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="race" class="cols-sm-1 control-label"> Select Your Race </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value= "1"> White </label>
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value="2"> Black </label>
			                                <label class="radio-inline"> <input type="radio" name="race" id="race" value="2"> Others </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="hypertensive" class="cols-sm-1 control-label"> Are you Hypertensive?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value="1"> Yes, With Treatment </label><br>
			                                <label class="radio-inline"> <input type="radio" name="hyper" id="hyper" value="2"> Yes, Wthout Treatment </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="bmi" class="cols-sm-1 control-label"> Select Your BMI Range?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value= "0"> Less Than 25 </label><br>
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value="1"> 25 to 30 </label><br>
			                                <label class="radio-inline"> <input type="radio" name="bmi" id="bmi" value="2"> Above 30 </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="diabetic" class="cols-sm-1 control-label"> Are you Diabetic?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value="1"> Yes, With Treatment </label><br>
			                                <label class="radio-inline"> <input type="radio" name="diabetic" id="diabetic" value="2"> Yes, Wthout Treatment </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group">
			                <label for="smoke" class="cols-sm-1 control-label"> Smoking?  </label>
			                    <div class="col-sm-11">                               
			                          <div class="input-group">
			                          		<label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value= "0"> No </label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value= "1"> 1 to 5 Years</label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value="2"> 6 to 10 Years </label><br>
			                                <label class="radio-inline"> <input type="radio" name="smoke" id="smoke" value="2"> Above 10 Years </label>
			                            </div>
			                    </div>
			              </div>
			              <div class="form-group ">
			             	<input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Get Estimate" onClick="calculateRisk(event)" />
			            </div>

			            <div class="form-group">
			              <label for="estimate" class="cols-sm-0 control-label">Your Cardiac Risk Estimate Is : </label>
			              <div class="cols-sm-12">
			                <div class="input-group">
			                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
			                  
			                  
			                  <input type="text" class="form-control" name="estimate"  placeholder=""/>
			                </div>
			              </div>
			            </div>

			            <div class="form-group">
			              <label for="meaning" class="cols-sm-2 control-label">This Means </label>
			              <div class="cols-sm-10">
			                <div class="input-group">
			                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
			                  <input type="text" class="form-control" name="meaning"  placeholder=""/>
			                </div>
			              </div>
			            </div>




			            <div class="form-group ">
			              <input type= "reset"  class="btn btn-primary btn-lg btn-block login-button" value="reset" />
			            </div>
			            
			          </form>
			        </div>
			      </div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<!--blog-starts-->
	<div class="blog" id="blog">
		<div class="container">
			<div class="blog-top">
				<h3>Question And Answers</h3>
				<span></span>
			</div>
			
			<div class="center-block">

			<div class="blog-bottom">

				<% _.each(blog, function(blog) { %>
				<div class="forum-content" >
				
					<div class="forum-item">
						<a href="/blog/askExpert" ><h3><%= blog.title %></h3></a>
						<br>
						<span>by <a href="#"><%= blog.nick %></a>  |  <%= blog.dateCreated %></span>
						<p class="overflow-ellipsis"> <%- blog.description %> </p>
						<br><br>
						<a href="/article">Read more >></a>
					</div>
					
				</div>

			
				<div class="clearfix"></div>
				<% }) %>
				
			</div>
			</div>
		</div>
	</div>
	<!--blog-end-->

	<!--Article-starts-->
	<div class="blog" id="article">
		<div class="container">
			<div class="blog-top">
				<h3>Articles</h3>
				<span></span>
			</div>
			<div class="center-block">
			<div class="blog-bottom">
			<% _.each(article, function(article) { %>
				<div class="col-md-4 blog-left">
					<a href="/article/singleArticle/<%= article.id %>" ><img src="/images/<%= article.imageName %>" alt="" /></a>
					<div class="blog-text">
						<a href=" /article/singleArticle/<%= article.id %>" ><h4><%= article.title %></h4></a>
						<span>by <a href="#"><%= article.nick %></a>  |  <%= article.dateCreated %></span>
						<p class="overflow-ellipsis"> <%- article.description %> </p>

					</div>
					<br>
						<a href="/article/singleArticle/<%= article.id %>"><b>Read more >></b></a>

				</div>
				<% }) %>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
	</div>
	<!--blog-end-->
	

	
	



	<!--contact-starts-->
	<div class="contact" id="get">
		<div class="container">
			<div class="contact-top">
				<h3>Contact</h3>
				<span> </span>
			</div>
			<div class="contact-bottom">
			
				<div class="col-md-6 contact-left">
					<ul>
						<li><span class="address"> </span>
						<p>6,Bisi Oluwole crescent, 
						   <label>Ota, Ogun State.</label>
                             Nigeria
                        </p>
                        </li>
                        <li><span class="phone"> </span>
						<p>(+234)8174820792</p>
                        </li>
                        <li><span class="msg"> </span>
						<p><a href="#">gidimed@gmail.com</a></p>
                        </li>
					</ul>
				</div>
				<div class="col-md-6 contact-right">
					<form action="https://formspree.io/gidimed@gmail.com" method="POST">
					<input type="text" name= "name" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}" />
					<input type="text" name="email" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}" />
					<input type="text" name="title" value="Title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Title';}" />
					<textarea name="message" value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					 <div class="s-btn">
						
							<input type="submit" value="Send">
							<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						
				     </div>
				     </form>	
				</div>
				<div class="clearfix"> </div>
				
			</div>
		</div>
	</div>
	<!--contact-end-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title" id="myModalLabel"> Go Premium </h4>
				</div>
				<div class="modal-body">
					<h4> Get Personalised Online Services via Chat With Health Experts on our database for 500 Naira ($1.50) Per Session.</h4>
					<div class="row">
						<div class="col-md-8" >
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#" data-toggle="tab">Select Expert</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active">
									<form role="form" action="https://formspree.io/gidimed@gmail.com" method="POST" class="form-horizontal" >
										<div class="form-group">
              								<label for="name" class="cols-sm-2 control-label">Your Name</label>
              								<div class="cols-sm-10">
                								<div class="input-group">
                  										<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  										<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Full Name"/>
                								</div>
              								</div>
            							</div>
            							<div class="form-group">
              								<label for="phone" class="cols-sm-2 control-label">Phone Number</label>
              								<div class="cols-sm-10">
               									<div class="input-group">
                  										<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                  										<input type="text" class="form-control" name="phone" id="phone"  placeholder="Enter your phone Number"/>
               									</div>
              								</div>
            							</div>
            
              
										<label class="radio"><input type="radio" name="expert" value="Medical Doctor"> Medical Doctor </label>
		                				<label class="radio"><input type="radio" name="expert" value="Dentist"> Dentist </label>
		                				<label class="radio"><input type="radio" name="expert" value="Pharmacist"> Pharmacist </label>
		                				<label class="radio"><input type="radio" name="expert" value="Physiotherapist"> Physiotherapist </label>
		                				<label class="radio"><input type="radio" name="expert" value="Dietitian"> Dietitian/Nutritionist </label>
		                				<label class="radio"><input type="radio" name="expert" value="Public Health"> Public Health Pros </label>
																	                                        
								<!-- </div> -->

																	                                  
							<!-- </div> -->
																	                                
									<div class="row">
											<div class="col-sm-2"></div>
											<div class="col-sm-10">
													<button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
											</div>
									</div>
									<input type="hidden" name="_csrf" value="<%= _csrf %>" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
				 
</body>
</html>