<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	
	<!--start-single-->
	<div class="single">
		<div class="container">
			<div class="single-top">
				<div class="col-md-8 single-left">
					<h3 class="sngl"><%= blog.title %></h3>
					<span>by <a href="#"><%= blog.nick %></a> on <a href="#"> <%= blog.dateCreated %> </a> comments&nbsp;(<%= answer.length %>)</span>
					
					<h5><%= blog.description %> </h5>
					
					<div class="comments">
						<h3>Comments</h3>
						<% _.each(answer, function(answer) { %>
						 	<div class="comments-main">
									<div class="cmts-main-left">
										<img src="/images/men.png" alt="">
									</div>
									
									<div class="cmts-main-right">
									
										<a href="#"><h5><%= answer.nick %></h5></a>
										<p><%= answer.comment %></p>
										<div class="cmts">
											<div class="col-md-6 cmnts-left">
												<label><%= answer.dateCreated %></label>
											</div>
											<% if (!session.authenticated) { %>
											<div class="col-md-6 cmnts-right">
											</div>
											 <% } else if ( answer.owner.creator == req.session.User.id) {%>
											
											<div class="col-md-6 cmnts-right">
												<a href="#" class="hvr-shutter-out-horizontal">Edit</a>
											</div>
											 <% } %>
											<div class="clearfix"></div>

										</div>
									</div>
									<div class="clearfix"></div>
									
								</div>
								<%})%>
<!-- 								<div class="comments-main">
									<div class="cmts-main-left">
										<img src="/images/men.png" alt="">
									</div>
									<div class="cmts-main-right">
										<a href="#"><h5>Bill Brown</h5></a>
										<p>Vivamus congue turpis in augue pellentesque scelerisque. Pellentesque aliquam laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida.</p>
										<div class="cmts">
											<div class="col-md-6 cmnts-left">
												<label>On April 14, 2014, 18:01</label>
											</div>
											<div class="col-md-6 cmnts-right">
												<a href="#" class="hvr-shutter-out-horizontal">Reply</a>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div> -->
							</div>
					<div class="reply">
						<h3>Post Your Answer</h3>
						<!-- <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"/>
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/> -->
						<form method="post" action="/answer/create">
							<textarea value="Answer" name= "comment" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Answer</textarea>
						<input type="submit" value="Post" />
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form>
					</div>
				</div>
				<div class="col-md-4 single-right">
						<div class="recent">
							<h4>Recent posts</h4>
							<div class="recent-one">
								<a href="#"><img src="/images/recent-1.jpg" alt="" /></a>
								<span>MARCH 13, 2013 9:31 AM</span>
									<a href="#"><h5>Fusce suscipit varius</h5></a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
							</div>
							<div class="recent-one">
								<a href="#"><img src="/images/recent-2.jpg" alt="" /></a>
								<span>APRIL 10, 2014 11:01 AM</span>
									<a href="#"><h5>Fusce suscipit varius</h5></a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
							</div>
						</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
</body>