<!--start-header-->
  <div class="header" id="home">
    <div class="container">
      <div class="head">
      <nav class= "navbar-fixed-top ">
        <a href="/"><img src="/images/logo.png" alt="" /></a>

      </nav>
      <nav class="navbar navbar-fixed-top">
      <div class="navigation">
         <span class="menu"></span> 
          <ul class="navig">


          <% if (!session.authenticated) { %>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
            <li>
               <div class="row">
                  <div class="col-md-12">
                     <form class="form" role="form"  method="post" action="/session/create" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                           <label class="sr-only" for="email">Email address</label>
                           <input type="email" class="form-control" name="email" id= "email" placeholder="Email address" required>
                        </div>
                        <div class="form-group">
                           <label class="sr-only" for="password">Password</label>
                           <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                           <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                        <div class="checkbox">
                           <label>
                           <input type="checkbox"> keep me logged-in
                           </label>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                     </form>
                  </div>
                  <div class="bottom text-center">
                    New here ? <a href="/user/new"><b>Join Us</b></a>
                  </div>
               </div>
            </li>
          </ul>
        </li>
        <% } %>

        <% if (session.authenticated) { %>
        
        
          <li><a href="/user/show/<%= session.User.id %>"  class="active"><%= session.User.name %></a></li>
        <% } %>
        <% if ( session.authenticated && session.User.admin) { %>
          <li><a href="/user" > User Administration </a></li>
          <!-- <li><a href="/article"  class="active"> Articles </a></li> -->
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Articles</b> <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/article">View Articles</a></li>
          <li><a href="/article/newArticle">Add Article</a></li>
          
        </ul>
      </li>
        <% } %>
            <li><a href="/"  >Home</a></li>
            <li><a href="#blog" class="scroll">Blog</a></li>
            <li><a href="#get" class="scroll">Get In Touch</a></li>

            <% if ( session.authenticated ) { %>
          <li><a href="/session/destroy"  class=""> Sign Out </a></li>
        <% } %>
    
          </ul>

          <ul class="nav navbar-nav navbar-right">
        
      </ul>

      </div>
      </nav>
        <div class="clearfix"></div>
      </div>
      </div>
    </div> 
    <!-- Header Ends --> 
<body>

    <!-- script-for-menu -->
    <!-- script-for-menu -->
         <script>
                $("span.menu").click(function(){
                    $(" ul.navig").slideToggle("slow" , function(){
                    });
                });
         </script>
         <!-- script-for-menu -->
    <!--search-scripts-->
                    <script src="js/classie.js"></script>
                    <script src="js/uisearch.js"></script>
                        <script>
                            new UISearch( document.getElementById( 'sb-search' ) );
                        </script>
    <!--//search-scripts-->


<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                    <div class="pull-left m-r-md">
                        <i class="fa fa-globe text-navy mid-icon"></i>
                    </div>
                    
                    <h2> Welcome to Ask Experts or Caregivers </h2>
                    <br>
                    <span>We provide you access to over 10,000 expert advice as your health matters are paramount to us. Ask our specialists that question that is bugging you and lets give you rest of mind.Feel free to ask any health question that bothers you and get expert reply.</span>
                </div>
            </div>

            <div class="ibox-content forum-container">

                <div class="forum-title">
                    <div class="pull-right forum-desc">
                        <small>Total Questions: <%= blog.length %></small>
                    </div>
                    <h3>Questions</h3>
                </div>
                

                <div class="forum-item active">
                    <div class="row">
                    <% _.each(blog, function(blog) { %>
                        <div class="forum-content">
                          <div class="col-sm-7 col-md-7 col-lg-7">
                            <div class="forum-icon">
                                <i class="fa fa-shield"></i>
                            </div>
                            <a href="/blog/singleBlog/<%= blog.id %>" class="forum-item-title"><%= blog.title %></a>
                            <!-- <div class="forum-sub-title"></div> -->
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                        <div class="col-md-4 col-lg-4 col-sm-4 forum-info">
                            <span class="views-number">
                                Answers
                            </span>
                            <div>
                                <small><%= blog.answers.length %></small>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 forum-info">
                            <span class="views-number">
                                Nick
                            </span>
                            <div>
                                <small><%= blog.nick %></small>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 forum-info">
                            <span class="views-number">
                                Date
                            </span>
                            <div>
                                <small><%= blog.dateCreated %> </small>
                            </div>
                        </div>
                        </div>
                        <!-- </div> -->
                        <div class="clearfix"> </div>
                        </div>
                        <%})%>
                        <div class="clearfix"> </div>

                         <% if (!session.authenticated) { %>
                         <h3>Want To Ask A Question?</h3>
                         <br>
                        <a href="/user/new" class="get"><button type="button" class="btn btn-info">Sign-up</button></a>
                        <%}%>


                        <% if (session.authenticated) { %>
                        <form id="myform" class="form-horizontal" data-toggle="validator" method="post" action="/blog/create" > 
                        <div class="reply col-md-9">
                        <h3>Ask a Question</h3>
                        <input type="text" data-required="true" name="title" id="title" placeholder="Title" data-error="Please include a title " required />
                        <textarea name="description" id="description" placeholder="Description" data-error="Please Explain your Question " required></textarea>
                        <input type="submit" value="Post" />
                    </div>
                     <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form>
                    <%}%>
                    </div>
                </div>
                

                
                

            </div>
        </div>
    </div>
</div>
</div>