<body>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-11">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table table-hover user-list">
                            <thead>
                                <tr>
                                <th class="text-center"><span> Title</span></th>
                                <th><span>Date</span></th>
                                <th class="text-center"><span>Created-By</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                            <% _.each(blogs, function(blog) { %>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="/blog/singleBlog/<%= blog.id %>" class="user-link"><%= blog.title %> </a>
                                        
                                    </td>
                                    <td><%= blog.dateCreated %></td>
                                    <td class="text-center">
                                        <span class="label label-default"><%= blog.nick %></span>
                                    </td>
                                    <td><a href="/blog/singleBlog/<%= blog.id %>" class="btn btn-sm btn-primary">Show</a></td>
                                        <td><a href="#" class="btn btn-sm btn-warning">Edit</a></td>
                                    <td style="width: 20%;">
                                        
                                        <form action="/blog/destroy/<%= blog.id %>" method="POST">
                                        <input type="hidden" name="_method" value="Delete" />
                                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                                        </form>
                                    </td>
                                </tr>

                                <%})%>
                                <h3>Count: <%= blogs.length %></h3>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>
</div>
</body>