
<body>

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
	<!--search-scripts-->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
	<!--//search-scripts-->
	
	<!--start-single-->
	<div class="single">
		<div class="container">

			<div class="single-top">

				<div class="col-md-10 single-left">
					<h3 class="sngl"><%= blog.title %></h3>
					<span>by <a href="#"><%= blog.nick %>&nbsp;|&nbsp;<%= blog.creator.gender %>&nbsp;|&nbsp;<%= blog.creator.age %></a> on <a href="#"> <%= blog.dateCreated %> </a> comments&nbsp;(<%= answer.length %>)</span>
					
					<h5><%= blog.description %> </h5>

					<div id="share-buttons">
						<!-- WhatsApp  -->
							<a href="whatsapp://send?text=www.gidimed.com/blog/singleblog/<%= blog.id %>" data-action="share/whatsapp/share"><img src="/images/whatsapp.png" alt="WhatsApp" /></a>

							<!-- Facebook -->
						    <a href="https://www.facebook.com/sharer.php?u=www.gidimed.com/blog/singleblog/<%= blog.id %>" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
						    </a>

						    <!-- Twitter -->
						    <a href="https://twitter.com/share?url=www.gidimed.com/blog/singleblog/<%= blog.id %>&amp;text=This%20is%20a%20HealthiOne%20Initiative&amp;hashtags=HealthiOneInitiative" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
						    </a>

						    <!-- LinkedIn -->
						    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=www.gidimed.com/blog/singleblog/<%= blog.id %>" target="_blank">
						        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
						    </a>
								
						    <!-- Email -->
						    <a href="mailto:?Subject=<%= blog.title %>&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 www.gidimed.com/blog/singleblog/<%= blog.id %>">
						        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
						    </a>
						    
						    <!-- Print -->
						    <a href="javascript:;" onclick="window.print()">
						        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
						    </a>
						    

						     
						    
    


</div>

					
					<div class="comments">
						<h3>Comments</h3>
						<% _.each(answer, function(answer) { %>
						
						 	<div class="comments-main">
							 	
							 		<% if (answer.verified) { %>
							 		<div class="cmts-main-left">
							 			<img src="/images/checkmark.png" alt="">
							 		</div>
							 			
							 		<% } %>
							 		
							 	
						 	<div class="cmts-mains-right">
						 			<div class="cmts-main-left">
										<img src="/images/men.png" alt="">
									</div>
									
									<div class="cmts-main-right">
									
										<a href="#"><h5><%= answer.nick %></h5></a>
										<p><%= answer.comment %></p>
										<div class="cmts">
											<div class="col-md-6 cmnts-left">
												<label><%= answer.dateCreated %></label>
											</div>
											<% if (!session.authenticated) { %>
												<div class="col-md-6 cmnts-right">
												</div>
											<% } else   { %>

											<% 	if  (answer.owner.creator === req.session.User.id) {  %>
												
																<% if (answer.verified) { %>
																	<div class="col-md-6 cmnts-right">
																	</div>
																<% } else { %>
																	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Edit </button>
																	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
																	    aria-hidden="true">
																	    <div class="modal-dialog modal-lg">
																	        <div class="modal-content">
																	            <div class="modal-header">
																	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
																	                    ×</button>
																	                <h4 class="modal-title" id="myModalLabel"> Edit Answers </h4>
																	            </div>
																	            <div class="modal-body">
																	                <div class="row">
																	                    <div class="col-md-8" >
																	                        <!-- Nav tabs -->
																	                        <ul class="nav nav-tabs">
																	                            <li class="active"><a href="#" data-toggle="tab">Answer</a></li>
																	                            
																	                        </ul>
																	                        <!-- Tab panes -->
																	                        <div class="tab-content">
																	                            <div class="tab-pane active">
																	                                <form role="form" class="form-horizontal" method="post" action="/answer/update/<%= answer.id %>">
																	                                <div class="form-group">
																									<div class="col-sm-2">
																	                                    </div>

																	                                    <div class="col-sm-10">
																	                                        <input type="text" class="form-control" name="comment" placeholder="<%= answer.comment %>" />
																	                                    </div>
																	                                </div>
																	                                
																	                                <div class="row">
																	                                    <div class="col-sm-2">
																	                                    </div>
																	                                    <div class="col-sm-10">
																	                                        <button type="submit" class="btn btn-primary btn-sm">Update Answer</button>
																	                                        
																	                                        
																	                                    </div>
																	                                </div>
																	                                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
																	                                </form>
																	                            </div>
																	                            
																	                        </div>
																	                        
																	                    </div>
																	                    
																	                </div>
																	            </div>
																	        </div>
																	    </div>
																	</div>

																	<% } %>
											 
											<div class="clearfix"></div>

										<% } %>

										<% 	if  ( session.User.admin || session.User.moderator ) {  %>
												
																<% if (answer.verified) { %>
																	<div class="col-md-6 cmnts-right">
																	</div>
																<% } else { %>
																	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Edit </button>
																	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
																	    aria-hidden="true">
																	    <div class="modal-dialog modal-lg">
																	        <div class="modal-content">
																	            <div class="modal-header">
																	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
																	                    ×</button>
																	                <h4 class="modal-title" id="myModalLabel"> Edit Answers </h4>
																	            </div>
																	            <div class="modal-body">
																	                <div class="row">
																	                    <div class="col-md-8" >
																	                        <!-- Nav tabs -->
																	                        <ul class="nav nav-tabs">
																	                            <li class="active"><a href="#" data-toggle="tab">Answer</a></li>
																	                            
																	                        </ul>
																	                        <!-- Tab panes -->
																	                        <div class="tab-content">
																	                            <div class="tab-pane active">
																	                                <form role="form" class="form-horizontal" method="post" action="/answer/update/<%= answer.id %>">
																	                                <div class="form-group">
																									<div class="col-sm-2">
																	                                    </div>

																	                                    <div class="col-sm-10">
																	                                        <input type="text" class="form-control" name="comment" placeholder="<%= answer.comment %>" />
																	                                    </div>
																	                                </div>
																	                                  <div class="form-group">
																									<div class="col-sm-2">
																	                                    </div>

																	                                    <div class="col-sm-10">
																	                                    <input type="hidden" name="verified" value= "unchecked">
	                						<label class="checkbox"><input type="checkbox" name="verified"> Verified </label>
																	                                        
																	                                    </div>
																	                                </div>
																	                                
																	                                <div class="row">
																	                                    <div class="col-sm-2">
																	                                    </div>
																	                                    <div class="col-sm-10">
																	                                        <button type="submit" class="btn btn-primary btn-sm">Update Answer</button>
																	                                        
																	                                        
																	                                    </div>
																	                                </div>
																	                                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
																	                                </form>
																	                            </div>
																	                            
																	                        </div>
																	                        
																	                    </div>
																	                    
																	                </div>
																	            </div>
																	        </div>
																	    </div>
																	</div>

																	<% } %>
											 
											<div class="clearfix"></div>

										<% } %>

										
									<% } %>

										</div>
									</div>
						 		
						 	</div>

									<div class="clearfix"></div>
									
						</div>

								<% }) %>
<!-- 								<div class="comments-main">
									<div class="cmts-main-left">
										<img src="/images/men.png" alt="">
									</div>
									<div class="cmts-main-right">
										<a href="#"><h5>Bill Brown</h5></a>
										<p>Vivamus congue turpis in augue pellentesque scelerisque. Pellentesque aliquam laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida.</p>
										<div class="cmts">
											<div class="col-md-6 cmnts-left">
												<label>On April 14, 2014, 18:01</label>
											</div>
											<div class="col-md-6 cmnts-right">
												<a href="#" class="hvr-shutter-out-horizontal">Reply</a>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div> -->
							</div>

						<% if (!session.authenticated) { %>
                         <h3>Sign-up Or Login To Ask A Question Or Reply ?</h3>
                         <br>
                        <a href="/user/new" class="get"><button type="button" class="btn btn-info">Sign-up</button></a>
                        <%}%>

                     <% if (session.authenticated) { %>
					<div class="reply">
						<h3>Post Your Answer</h3>
						<!-- <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"/>
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/> -->
						<form method="post" action="/answer/create">
							<textarea value="Answer" name= "comment" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Answer</textarea>
						<input type="submit" value="Post" />
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</form>
					</div>

					<% } %>
				</div>
				<div class="col-md-2 single-right">

						
						<div class="recent">
							<div class="recent-one">
								<a href="#"><img src="/images/adss.gif" alt="" /></a>
								<br>
									<a href="/#get"><h5>Click to place Ads</h5></a>
									<br>
							</div>
							<div class="recent-one">
								<a href="#"><img src="/images/adss.gif" alt="" /></a>
								<br>
									<a href="/#get"><h5>Click to place Ads</h5></a>
									<br>
							</div>
							
						</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
</body>
